body{
    background-color:rgb(255, 255, 255);
    line-height: 1.5;
    font-family: sans-serif;
    text-align: justify;
    margin: 2em;
    padding:
    border: solid 1px;
}

h2{
    text-align: center;
    color: blue;
}